[Unit]
Description=Servidor de imagenes
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/server
Restart=on-failure

[Install]
WantedBy=multi-user.target
